
<h1>筆記：<%= @note.title %></h1>
<p>
    <%= @note.content %>
</p> 

<%= form_with(model: @comment, url: note_comments_path(@note), local: false) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit 'create comment' %>
<% end %>

<ul class="comments">
    <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %>
    </ul>